# Ignore everything except wp-content and docker config
wordpress-core/
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backup-*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore OS and IDE stuff
.vscode/
.idea/

# Ignore Docker data
db_data/